.Header {
    padding: 10px 50px;
    background-color: #f94e30;
    color: #fff;
}

.Header-top,
.Header-bottom {
    display: flex;
    justify-content: space-between;
}

.Header-actions {
    color: #000;
    justify-self: flex-end;
}

.Header-bottom img {
    cursor: pointer;
}

.Header2-1-1 {
    display: flex;
}

.Header2-1-1-1 {
    margin-left: 5px;
    margin-right: 5px;
    /* padding: 10px; */
}
